<div class="main-container">


	<header class="header-4">
		<div class="branding">
			<a class="nav-link">
				<clr-icon shape="home" size="24"></clr-icon>
				<span class="title">VMware Japan PSO</span>
			</a>
		</div>
		<div class="header-nav">
			<a class="active nav-link nav-text">Home</a>
		</div>
	</header>


	<div class="content-container">
		<div class="content-area">
			<h3>Welcome to PSO as a Service Portal ! </h3>
    
  <div class="clr-row">
    <div class="clr-col-lg-4 clr-col-12">
        <div class="card">
            <div class="card-block">
                <h3 class="card-title"><clr-icon shape="cloud" size="28" class="is-info" ></clr-icon> IaaS</h3>
                <p class="card-text">
                    Plan and Design IaaS on your SDDC.
                </p>
            </div>
            <div class="card-footer">
                <a href="..." class="btn btn-sm btn-link">Order now !</a>
            </div>
        </div>
    </div>
    <div class="clr-col-lg-4 clr-col-12">
        <div class="card">
            <div class="card-block">
                <h3 class="card-title"><clr-icon shape="folder-open" size="28" class="is-info" ></clr-icon> SaaS</h3>
                <p class="card-text">
                    Creating SaaS solution on your SDDC.
                </p>
            </div>
            <div class="card-footer">
                <a href="..." class="btn btn-sm btn-link">Order now !</a>
            </div>
        </div>
    </div>
    <div class="clr-col-lg-4 clr-col-12">
        <div class="card">
            <div class="card-block">
                <h3 class="card-title"><clr-icon shape="user" size="28" class="is-info" ></clr-icon> Developer Cloud</h3>
                <p class="card-text">
                    Provides a comprehensive development platform.
                </p>
            </div>
            <div class="card-footer">
                <a href="..." class="btn btn-sm btn-link">Order now !</a>
            </div>
        </div>
    </div>
</div>
<div class="clr-row">
    <div class="clr-col-lg-4 clr-col-12">
        <div class="card">
            <div class="card-block">
                <h3 class="card-title"><clr-icon shape="success-standard" size="28" class="is-info" ></clr-icon> Fintech</h3>
                <p class="card-text">
                    Design of a secure platform for accounting and finance.
                </p>
            </div>
            <div class="card-footer">
                <a href="..." class="btn btn-sm btn-link">Order now !</a>
            </div>
        </div>
    </div>
    <div class="clr-col-lg-4 clr-col-12">
        <div class="card">
            <div class="card-block">
                <h3 class="card-title"><clr-icon shape="display" size="28" class="is-info" ></clr-icon> IT</h3>
                <p class="card-text">
                    Provide strategic corporate IT design.
                </p>
            </div>
            <div class="card-footer">
                <a href="..." class="btn btn-sm btn-link">Order now !</a>
            </div>
        </div>
    </div>
    <div class="clr-col-lg-4 clr-col-12">
        <div class="card">
            <div class="card-block">
                <h3 class="card-title">IoT</h3>
                <p class="card-text">
                    Management Internet Of Things.
                </p>
            </div>
            <div class="card-footer">
                <a href="..." class="btn btn-sm btn-link">Order now !</a>
            </div>
        </div>
    </div>
</div>
</div>